body{
      background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihZJpfYwV1QcvL7kC_M1QRc0uTwWnCqw5b2wCTX11KkjPIhfwAtSsPkH3m5nss5MdlQK9gAbat050Sjx3yP8MIWzhYBaP8fKsDc=w1920-h919-rw-v1");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
  }
  
  /* Sumar este css a las vistas de Cata, Gerald, Iris y Almendra */