@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:wght@300;400;700&family=Righteous&display=swap');

#nombreBarra {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#botonIniciar {
    color: white;
}

#botonRegistrar {
    color: white;
}

#barraDeNavegacion {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: sticky;
    top: 0px;
    z-index: 50;
}