
h1 {
    font-family: "Righteous", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 55pt;
    color: #3B2D2D;
}

#logoPrincipio {
    width: 220px;
}

.texto {
    color: #3B2D2D;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fotosInicio {
    width: 100%;
    display: flex;
    flex: 33.33%;
}
#zorroFinal {
    width: 400px;
}

/* *{
    margin: 0;
    border: 0;
    padding: 0;
    background-color: transparent!important
  } */

.fondotexto{
    background-color: #00000000
}